<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>News Management</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
      <!-- Include _menu.html -->
      <th:block th:include="/admin"></th:block>  
      
	<h1>News Management</h1>
	    <table border="1" cellpadding="5" cellspacing="1" >
       <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Text</th>
          <th>Preview</th>
          <th>Edit</th>
          <th>Delete</th>
       </tr>
       <tr th:each= "post : ${posts}">
             <td th:text= "${post.id}"></td>
             <td th:text= "${post.name}"></td>
             <td> <textarea th:text= "${post.text}"> </textarea></td>
             <td> <textarea th:text= "${post.preview}"> </textarea></td>
             <td>
                <a th:href="@{'/editNews/' + ${post.id}}">Edit</a>
             </td>
             <td>
                <a th:href="@{'/deleteNews/' + ${post.id}}">Delete</a>
             </td>
          </tr>
    </table>
 <br />
    <a href="/add" >Add News</a>
</body>
</html>